* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #373D3F;
}

@media only screen and (max-width: 1000px) {
        main {
            top: 70px !important;
        }

        .section {
            padding-top: 95px !important;
            margin: -95px 0 35px !important;
        }

        .menu-container {
            display: inline-block !important;
            padding: 10px;
        }
        .nav-cat {
            display: none;
        }

        .nav-list {
            margin: 0 30px !important;
            justify-content: space-between !important;
        }
        .home-logo {
            display: none;
        }
        .initials {
            display: inline-block !important;
        }

        .skills img {
            min-width: 75px !important;
            padding: 15px !important;
            width: 35% !important;
        }
    }

body {
    background-color: #f1f1f1;
}

main {
    top: 85px;
    position: relative;
    padding-top: 30px;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    padding-top: 118px;
    display: block;
    text-align: center;
    margin: -118px 0 35px;
    width: 90%;
    /* box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12); */
}


.section h2 {
    display: inline-block;
    border-bottom: 2px solid #ffdb74;
    text-align: center;
    padding: 15px 0 5px;
}

.section p {
    padding: 20px;
}

.thumbs {
    flex-direction: column;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 20px;
}

.thumbs-exp {
    display: flex;
    flex-direction: column;
}

.thumb-box {
    display: flex;
    flex-wrap: wrap;
}

.skills img {
    flex: 1 0 25%;
    object-fit: contain;
    min-width: 90px;
    padding: 20px;
    min-height: 50px;
    width: 29%;
}

.main-nav {
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 100%;
    display: block;
    font-size: 1.2rem;
}

.nav-list {
    margin: 0 80px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nav-list a {
    text-align: center;
    display: block;
}

.nav-cat {
    padding: 15px;
}

.nav-cat-col {
    display: list-item;
    flex: 0 1 100%;
}

.nav-cat a span:hover {
    border-bottom: 2px solid #ffdb74;
}

.list-icon {
    display: none;
    font-size: 1.5rem;
    padding: 0 12px;
    box-sizing: content-box;
}

.home-logo {
    margin-right: auto;
    text-align: center;
    min-height: 70px;
    padding: 20px;
}

.home-logo a {
    display: flex;
    flex-direction: column;
}

.home-name {
    border-bottom: 2px solid #ffdb74;
    font-size: 2em;
}

.home-title {
    padding-top: 5px;
    font-size: 15px;
}

.social-media {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.social-media li {
    font-size: 2.5rem;
    color: white;
}

.tooltip {
    position: relative;
}

.tool-text {
    width: 200px;
    padding:10px 15px;
	display:none;
	position:absolute;
	z-index:1000;
	border-radius:3px;
	background:rgba(0,0,0,0.75);
	/* Type */
	font-size:12px;
	text-shadow:-1px 1px 0px rgba(0,0,0,0.2);
	line-height:150%;
	color:#fff;
}

.tool-text:before {
    width: 0px;
    padding: 0px;
    position: absolute;
    content: '';
}

.tooltip:hover .tool-text{
    display: block;
}

.tooltip.bottom .tool-text {
	top:41px;
	left:10px;
}

.tooltip.bottom .tool-text:before {
	top:-5px;
	left:10px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid rgba(0,0,0,0.75);
}

svg[data-icon='mdi-linkedin']:hover > path {
    color:white;
}

svg[data-icon='mdi-linkedin']:hover {
    background: #0073b1;
}

svg[data-icon='mdi-twitter']:hover > path {
    color: #1da1f2
}

.menu-container {
    display: none;
    cursor: pointer;
}

.initials {
    font-size: 2em;
    margin-right: auto;
}

.initials span {
    color: #ffdb74;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 150;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 7px) ;
    transform: rotate(-45deg) translate(-8px, 7px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }